<mat-list class="container" >
  <div mat-subheader class="title">Histórico de conversão</div>

  <table class="tabela" matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Coluna da data -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Data</th>
      <td mat-cell *matCellDef="let item"> {{item.date}} </td>
    </ng-container>

    <!-- Coluna de hora -->
    <ng-container matColumnDef="hora">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Hora</th>
      <td mat-cell *matCellDef="let item"> {{item.hora}} </td>
    </ng-container>

    <!-- Coluna do valor inserido -->
    <ng-container matColumnDef="valorEntrada">
      <th mat-header-cell *matHeaderCellDef>Valor Entrada</th>
      <td mat-cell *matCellDef="let item"> {{item.valorEntrada}}</td>
    </ng-container>

    <!-- Moeda de origem -->
    <ng-container matColumnDef="moedaOrigem">
      <th mat-header-cell *matHeaderCellDef>Moeda origem</th>
      <td mat-cell *matCellDef="let item"> {{item.moedaOrigem}} </td>
    </ng-container>

    <!-- Moeda de destino -->
    <ng-container matColumnDef="moedaDestino">
      <th mat-header-cell *matHeaderCellDef>Moeda Destino</th>
      <td mat-cell *matCellDef="let item"> {{item.moedaDestino}} </td>
    </ng-container>

    <!-- Taxa de conversão -->
    <ng-container matColumnDef="taxa">
      <th mat-header-cell *matHeaderCellDef>Taxa</th>
      <td mat-cell *matCellDef="let item"> {{item.taxa | number: '0.0-3'}} </td>
    </ng-container>

    <!-- Resultado da conversão -->
    <ng-container matColumnDef="resultado">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Resultado</th>
      <td mat-cell *matCellDef="let item"> {{item.resultado | number: '0.0-3'}}
        <mat-icon [hidden]="!item.maiorDolar" >announcement</mat-icon>
      </td>
    </ng-container>

    <!-- Deletar item -->
    <ng-container matColumnDef="deletar">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Deletar</th>
      <td mat-cell *matCellDef="let item"><button mat-button (click)="deletar(item.id)">Deletar</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</mat-list>
