/*Estilo do angular material*/
.mat-mdc-list-item-icon {
  color: rgba(0, 0, 0, 0.54);

}

/*Container da lista*/
.container{
  width: 95%;
  height: 85%;

  margin: 1rem auto;
  padding: 1rem;

  border: 0.1rem solid black;



}

/*Título da lista de moedas*/
.title{
  text-align: center;
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 400;

}

/*Lista de botões */
.lista-botao{
  height: 3.5rem;
  display: flex;

  justify-content: center;

  margin-bottom: 0.5rem;

}

/*Botões da lista*/
.lista-botao button{
  border: none;
  margin: 0 0.2rem;

}

